@page
@model AdminRoleNeededModel
@{
    ViewData["Title"] = "Admin Role Needed";
}
<h1>@ViewData["Title"]</h1>

<p>If you can see this you are authenticated and authorised as a member of the Admin Role!</p>
