@page
@model CrawlModel

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;

@{
    ViewData["Title"] = "Crawl";
}
<h1>@ViewData["Title"]</h1>

<p>Crawl - Message: @Model.Message</p>


<h2>From razor pages view side we can see the User</h2>
@if (HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
{
    <p>Name @User.Identity.Name</p>
}


