@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to PostgresCookieDave</h1>
</div>

<hr />
<p>The top menu shows the core Authentication and Authorisation test pages</p>


<ul>
    <li class="">
        <a class="" href="/ThrowException">ThrowException</a>
    </li>
    <li class="">
        <a class="" href="/healthcheck">healthcheck</a>
    </li>
    <li class="">
        <a class="" href="/nopagehere">nopagehere</a>
    </li>
    <li class="">
        <a class="" href="/Enquiry">Enquiry</a>
    </li>
</ul>
