@page
@model Tier1RoleNeeded
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;

@{
    ViewData["Title"] = "Tier1 Role Needed";
}
<h1>@ViewData["Title"]</h1>

<p>Welcome! If you can see this you are authenticated and have a Tier1 Role. </p>


